main{
    width: 90%;
    margin: 0% auto;
   padding: 20px 0;
}
main section article img{
    width: 100%;
}
main section h2{
    font-size: var(--titulares);
    color: var(--grisOscuro);
}
main section article {
    margin: 10px 0;
}
main section article .descuento {
    color: var(--verde);
    font-size: var(--descuento);
}
main section article .precio{
    color: black;
    font-size: var(--precio);
}
main section h4{
    font-size: var(--descripciones);
}

